.mainMenu {
    overflow: hidden;
    padding-bottom: 20px;
    padding-top: 10px;
    margin: var(--spacing-0) auto;
    max-width: 62rem;
}

.mainMenu a {
    float: left;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    line-height: var(--lineHeight-tight);
    letter-spacing: -0.025em;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.mainMenu-logo {
    float: left;
    margin-left: var(--spacing-3);
}

.mainMenu-websiteNameOne {
    text-align: left;
    color: var(--falafel-color);

}

.mainMenu-websiteNameTwo {
    text-align: left;
    line-height: 16px;
    color: var(--falafel-color);

}

.mainMenu-websiteNameContainer {
    float: left;
    margin: 11px;
    line-height: var(--lineHeight-tight);
    letter-spacing: -0.025em;
    font-weight: 750;
    font-size: var(--fontSize-3);
}

/* Style the active/current link*/
.mainMenu a.active {
    color: var(--falafel-color);
}

/* Float the link section to the right */
.mainMenu-right {
    float: right;
}
